# Maven Ignore
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
sh.exe.stackdump

.mvn

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse Ignore
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
/com.sensorthink.iot.wes.bean.HistoryWave
/com.sensorthink.iot.wes.bean.ActiveContainer
/com.sensorthink.iot.wes.bean.ActiveOrder
/com.sensorthink.iot.wes.bean.ActiveOrderLine
/com.sensorthink.iot.wes.bean.ActiveWave
/com.sensorthink.iot.wes.bean.HistoryContainer
/com.sensorthink.iot.wes.bean.HistoryOrder
/com.sensorthink.iot.wes.bean.HistoryOrderLine
/com.sensorthink.iot.common.bean.AbstractCompanyEntity
